<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>챗봇AI 상담 페이지</h1>
    <iframe src="http://localhost:8503"
        style="width:100%; height:800px; border:none;">
    </iframe>
    <h1>
        <a href="/">이전으로 돌아가기</a>
    </h1>
</body>
</html>