<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- W3.CSS 적용 -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="public\css\style.css">
</head>
<body>
  <!-- 상단 include -->
  <%- include('../ins/top') %>
    <h1>추첨방송 방청(참관)신청 페이지</h1>
   

    <!-- bottom include -->
    <%- include('../ins/bottom') %>
</body>
</html>