<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>지난주 당첨번호 페이지</h1>
    <h1>
        <a href="/">이전으로 돌아가기</a>
    </h1>
</body>
</html>