<label for="emotionSelect">찾고자 하는 감정을 선택 하세요</label>
<select id="emotionSelect">
  <option value="">선택</option>
  <option value="가난한 불우한">가난한 불우한</option>
  <option value="감사하는">감사하는</option>
  <option value="걱정스러운">걱정스러운</option>
  <option value="고립된">고립된</option>
  <option value="괴로워하는">괴로워하는</option>
  <option value="구역질 나는">구역질 나는</option>
  <option value="기쁨">기쁨</option>
  <option value="낙담한">낙담한</option>
  <option value="남의 시선을 의식하는">남의 시선을 의식하는</option>
  <option value="노여워하는">노여워하는</option>
  <option value="눈물이 나는">눈물이 나는</option>
  <option value="느긋">느긋</option>
  <option value="당혹스러운">당혹스러운</option>
  <option value="당황">당황</option>
  <option value="두려운">두려운</option>
  <option value="마비된">마비된</option>
  <option value="만족스러운">만족스러운</option>
  <option value="방어적인">방어적인</option>
  <option value="배신당한">배신당한</option>
  <option value="버려진">버려진</option>
  <option value="부끄러운">부끄러운</option>
  <option value="분노">분노</option>
  <option value="불안">불안</option>
  <option value="비통한">비통한</option>
  <option value="상처">상처</option>
  <option value="성가신">성가신</option>
  <option value="스트레스 받는">스트레스 받는</option>
  <option value="슬픔">슬픔</option>
  <option value="신뢰하는">신뢰하는</option>
  <option value="신이 난">신이 난</option>
  <option value="실망한">실망한</option>
  <option value="악의적인">악의적인</option>
  <option value="안달하는">안달하는</option>
  <option value="안도">안도</option>
  <option value="억울한">억울한</option>
  <option value="열등감">열등감</option>
  <option value="염세적인">염세적인</option>
  <option value="외로운">외로운</option>
  <option value="우울한">우울한</option>
  <option value="자신하는">자신하는</option>
  <option value="조심스러운">조심스러운</option>
  <option value="좌절한">좌절한</option>
  <option value="죄책감의">죄책감의</option>
  <option value="질투하는">질투하는</option>
  <option value="짜증내는">짜증내는</option>
  <option value="초조한">초조한</option>
  <option value="충격 받은">충격 받은</option>
  <option value="취약한">취약한</option>
  <option value="툴툴대는">툴툴대는</option>
  <option value="편안한">편안한</option>
  <option value="한심한">한심한</option>
  <option value="혐오스러운">혐오스러운</option>
  <option value="혼란스러운">혼란스러운</option>
  <option value="환멸을 느끼는">환멸을 느끼는</option>
  <option value="회의적인">회의적인</option>
  <option value="후회되는">후회되는</option>
  <option value="흥분">흥분</option>
  <option value="희생된">희생된</option>
</select>
